<%= form_with model: [:provider, @service, @rule], class: "card p-4" do |f| %>

  <h5 class="mb-3">Jours disponibles</h5>

  <div class="d-flex flex-wrap gap-3 mb-4">
    <% Date::DAYNAMES.each_with_index do |day, index| %>
      <div class="form-check">
        <%= check_box_tag "availability_rule[weekdays][]",
              index,
              false,
              id: "day_#{index}",
              class: "form-check-input" %>

        <%= label_tag "day_#{index}",
              day,
              class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :start_time, "Début" %>
      <%= f.time_field :start_time, class: "form-control", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :end_time, "Fin" %>
      <%= f.time_field :end_time, class: "form-control", required: true %>
    </div>
  </div>

  <div class="text-end">
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>

<% end %>
