<%= form_with(model: [:provider, @service], data: { turbo: false }, class: "card p-4 shadow-sm") do |f| %>

  <div class="mb-3">
    <%= f.label :name, "Nom de la prestation" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>



  <div class="mb-3">
    <%= f.label :category_id, "Catégorie" %>
    <%= f.collection_select :category_id,
          Category.order(:name),
          :id,
          :name,
          { prompt: "Choisir une catégorie" },
          class: "form-control",
          required: true %>
  </div>


  <div class="mb-3">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div class="mb-3">
    <%= f.label :photo, "Photo de la prestation", class: "form-label fw-semibold" %>
    <%= f.file_field :photo, class: "form-control" %>

    <% if @service.photo.attached? %>
      <div class="mt-3">
        <p class="fw-semibold">Aperçu :</p>
        <%= image_tag @service.photo, height: 180, width: 320, crop: :fill %>
      </div>
    <% end %>
  </div>


  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :price_euros, "Prix (€)" %>
      <%= f.number_field :price_euros, step: 1, class: "form-control", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :duration_minutes, "Durée (minutes)" %>
      <%= f.number_field :duration_minutes, step: 15, class: "form-control", required: true %>
    </div>
  </div>
  <div class="mb-3">
    <%= f.label :min_notice_days,
          "Délai minimum avant réservation (en jours)",
          class: "form-label fw-semibold" %>

    <%= f.number_field :min_notice_days,
          class: "form-control",
          min: 0,
          step: 1 %>

    <div class="form-text">
      Exemple : 2 = réservation possible à partir de J+2
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <%= f.label :buffer_minutes, "Pause entre deux prestations (min)" %>
    <%= f.number_field :buffer_minutes,
          step: 5,
          min: 0,
          class: "form-control",
          placeholder: "ex: 15" %>
  </div>
  <hr class="my-4">

  <div class="mb-3">
    <div class="form-check form-switch">
      <%= f.check_box :active,
            class: "form-check-input",
            role: "switch" %>

      <%= f.label :active,
            "Service actif (visible et réservable)",
            class: "form-check-label fw-semibold" %>
    </div>

    <div class="form-text">
      Si désactivé, ce service ne sera plus visible ni réservable,
      sans perdre ses paramètres.
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <div class="mb-3">
    <%= f.label :service_type_id, "Type de prestation" %>
    <%= f.collection_select :service_type_id,
          ServiceType.all,
          :id,
          :name,
          prompt: "Choisir un type",
          class: "form-control",
          required: true %>
  </div>

<% end %>
