<%= form_with(model: [:provider, @service, @area], class: "card p-4 shadow-sm mt-3") do |f| %>

  <div class="mb-3">
    <%= f.label :address, "Adresse (ville, quartier, etc.)", class: "form-label" %>
    <%= f.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :radius_km, "Rayon (km)", class: "form-label" %>
    <%= f.number_field :radius_km, class: "form-control", min: 0, step: 1, required: true %>
    <div class="form-text">
      0 = adresse fixe uniquement, sinon rayon autour de l’adresse.
    </div>
  </div>

  <div class="d-flex justify-content-end mt-3">
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>

<% end %>
