<h1 class="mb-4">Bienvenue <%= current_user.email %></h1>
<div class="card p-3 mb-4 shadow-sm">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h5 class="mb-1">Statut de votre activité</h5>

      <% if current_user.active? %>
        <p class="text-muted mb-0">
          Votre activité est visible et réservable.
        </p>
      <% else %>
        <p class="text-danger mb-0">
          Votre activité est actuellement en pause.
        </p>
      <% end %>
    </div>

    <%= button_to(
          current_user.active? ? "Mettre en pause" : "Réactiver",
          toggle_active_provider_profile_path,
          method: :patch,
          data: { turbo: false },
          class: current_user.active? ?
            "btn btn-outline-danger" :
            "btn btn-success"
        ) %>
  </div>
</div>

<% if current_user.stripe_connected? %>
  <span class="badge bg-success">Paiements activés</span>
<% else %>
  <%= button_to "Connecter mon compte Stripe",
      create_stripe_connect_path,
      method: :post,
      data: { turbo: false },
      class: "btn btn-primary" %>
<% end %>
<% if current_user.subscription_status != "active" %>
  <%= link_to "S’abonner – 5 € / mois",
        new_subscription_path,
        data: { turbo: false },
        class: "btn btn-primary" %>
<% else %>
  <span class="badge bg-success">Abonnement actif</span>
<% end %>
<div class="d-flex justify-content-between mb-3">
  <h2>Vos services</h2>
  <%= link_to "➕ Nouveau service", new_provider_service_path, class: "btn btn-primary" %>
</div>

<ul class="list-group">
  <% @services.each do |service| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= service.name %>
      <%= link_to "Gérer", edit_provider_service_path(service), class: "btn btn-sm btn-outline-secondary" %>
    </li>
  <% end %>
</ul>
