<!DOCTYPE html>
<html lang="fr">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3PQMG1N9SS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3PQMG1N9SS');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= content_for(:title) || "SLOTBOOK.APP" %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "widget", media: "all" %>
  </head>

  <body class="widget-body">
    <%= yield %>

    <footer class="widget-footer">
      <small>
        Réservation sécurisée via
        <a href="https://tonapp.com" target="_blank" rel="noopener">
          tonapp.com
        </a>
      </small>
    </footer>
  </body>
</html>
